# Node artifact files
dist/

# Compiled Python bytecode
*.py[cod]

# media folder
media/

# Environment
backend/.env
frontend/node_modules
whatsapp-bridge/node_modules

whatsapp-bridge/.wa-session
whatsapp-bridge/.wwebjs_cache

# Sqlite
db.sqlite3

celerybeat-schedule
*.bak
venv/
backend/.venv/
